.banner3D {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2em;
    max-width: var(--max-bound);

    &__content {
        background-color: white;
        border-radius: .4em;
        box-shadow: 0px 5px 10px 4px lightgray;
        animation: lightning infinite 5s ease-in-out;
    }

    &__title {
        align-self: center;
        padding: 1em;
        &--subtitle {
            h4 {
                letter-spacing: 3px;
                font-size: var(--fs-300);
            }

            h1 {
                font-size: calc(var(--fs-500) - 1vw);
                user-select: none;
            }
        }

        &--link {
            display: inline-block;
            position: relative;
            z-index: 5;
            margin-top: 2em;
            padding: .8em;
            font-size: var(--fs-300);
            color: white;
            border-radius: 10px;
            background-color: rgb(41, 129, 237);
            transition: background-color 0.7s;

            &:hover {
                background-color: rgb(25, 77, 140);
            }
        }
    }

    &__canvas {
        position: static;
        border-radius: .4em;
        height: auto;
        padding-top: .5em;
        margin-top: -8rem;

        &:hover {
            cursor: grab;
        }
    }
}

/* Animations */
@keyframes lightning {
    0% {
        box-shadow: 0px 5px 10px 4px lightgray;
    }

    25% {
        box-shadow: 0px 0px 20px 8px rgb(41, 129, 237);
    }

    50% {
        box-shadow: 0px 0px 20px 12px rgb(104, 172, 255);
    }

    100% {
        box-shadow: 0px 5px 10px 8px lightgray;
    }
}

/* Media Queries */

/* mobile-m 375px */
@media (min-width: 23.43rem) {}

/* mobile-l 425px */
@media (min-width: 26.56rem) {}

/* tablet 768px */
@media (min-width: 43.75rem) {
    .banner3D {
        width: 95%;
    }
}

/* laptop 1024px */
@media (min-width: 64rem) {}

/* laptop-l 1440px */
@media (min-width: 90rem) {}

/* 4k 2560px */

@media (min-width: 160rem) {}