@use "utils" as Component;

li, ul{ list-style: none; } 
button { background-color: transparent; }
@mixin flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
@mixin bottom_a-nav {
    button {
        border: none; 
        color: Component.$text-color;
    }
    a { 
        text-decoration: none; 
        color: Component.$text-color; 
    } 
}


.navMenu {   
    background-color: Component.$primary-yellow; 
    width: 100%;  
}
.navMenu__row { 
    // border:1px solid black; 
    @include Component.boundaries;
    font-size: 1rem; 
    
} 

.navMenu__row_location { 
    // border:1px dotted white; 
    box-sizing: border-box;
    display: flex; 
    font-size: 1rem;
    max-width: 12rem;
    a {
        text-decoration: none;
        color: Component.$text-color;
        font-weight: 400;
        span {
            display: block;
        }
        :first-child {
            font-weight: 200;
            font-size: 1rem;
        }
    }  
    .icon_location {
        // background-color: aquamarine;
        padding:2px;
        color: Component.$text-color;
        font-size: 2rem;
    }
}

.navMenu__choices {
    @include flex-nav;
    justify-content: flex-start;
    gap:1%;
    // min-width: 34rem;
    .navMenu__choices_item {
        // border: 1px solid blue;
        @include bottom_a-nav;
    } 
}

.navMenu_user { 
    @include flex-nav;
    @include bottom_a-nav;
    width: 30rem; 
    
}

