@use "@gs/utils" as u;

.navmenu {
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;

    &__envios {
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5em;

        svg {
            // display: inline-flex;
            width: min-content;
        }

        // border: 1px solid red;
        div span {
            margin-inline: .5em;
        }

    }

    &__choices {
        border: 1px solid red;
        display: none;
    }

    &__user {
        border: 1px solid green;
        display: none;
    }
}

/* Media Queries */

/* mobile-l 425px */
@media (min-width: 26.56rem) {}

/* tablet 768px */
@media (min-width: 43.75rem) {}

/* laptop 1024px */
@media (min-width: 64rem) {}

/* laptop-l 1440px */
@media (min-width: 90rem) {}

/* 4k 2560px */

@media (min-width: 160rem) {}