@use "@gs/utils" as u;

$nav_height: 4.1rem;
$searchbar_height: 0.4rem;
$input-radius: .2em;

.searchbar {
  display: flex;
  justify-content: center;
  padding-inline: 1em;
  padding-block: .4em;
  font-size: var(--fs-200);
  max-width: var(--max-bound);
  width: 100%;

  &__meli-logo {
    display: none;
    object-fit: scale-down;
    max-width: u.pxToEm(100);
    width: 100%;
  }

  &__search {
    display: flex;
    min-width: 100%;

    &--icon {
      padding: .3em;
      border-start-start-radius: .2em;
      border-end-start-radius: .2em;
      background-color: white;
      box-shadow: var(--input-box-shadow);
      color: var(--meli-text-light);
      font-size: var(--fs-400);
    }

    &--input {
      appearance: none;
      outline: none;
      width: 100%;
      border: none;
      border-start-end-radius: .2em;
      border-end-end-radius: 0.2em;
      background-color: white;
      font-size: var(--fs-200);
      box-shadow: var(--input-box-shadow);

      &::placeholder {
        color: var(--meli-text-light);
      }
    }

    &--menu {
      flex-basis: 3rem;
      display: flex;
      place-items: center;

      svg {
        width: 1.5rem;
        font-size: var(--fs-300);
        color: hsl(0, 0%, 0%, .5);
      }
    }

  }

  &__banner {
    flex-basis: 350px;
    display: none;
    img {
      display: none;
    }

    p {
      display: none;
    }
  }
}

/* Media Queries */

/* 600px */
@media (min-width: 37.5rem) {
  .searchbar {
    &__meli-logo {
      display: block;
      margin-right: 1em;
    }

    &__search {
      min-width: auto;
      width: 100%;

      &--menu {
        display: none;
      }
    }

    &__banner {
      display: block;

      img {
        display: inline;
        max-width: 4rem;
      }

      p {
        // display: inline;
      }
    }
  }
}

/* tablet 768px */
@media (min-width: 43.75rem) {
  .searchbar {
    &__meli-logo {
      display: block;
      margin-right: 1em;
      object-fit: scale-down;
    }

    &__search {
      min-width: auto;
      width: 100%;

      &--menu {
        display: flex;
      }
    }

    &__banner {
      display: flex;
      place-items: center;
      img {
        display: inline;
        max-width: 4rem;
      }

      p {
        display: block;
      }
    }
  }
}

/* laptop 1024px */
@media (min-width: 64rem) {}

/* laptop-l 1440px */
@media (min-width: 90rem) {}

/* 4k 2560px */

@media (min-width: 160rem) {}