@use "gs/variables" as v;
@use "gs/colors" as c;

$c-price: rgba(0,0,0,.8);
$c-green: green;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 12rem;   
    border-radius: 5px ; 
    background-color: white; 
    background: radial-gradient( 
    farthest-corner at 
    var(--mouseX) var(--mouseY),
    rgb(255, 255, 255) 0%,
    hsl(0 1% 56% / .2) 100%);
    padding: 0.5em;
    // transition: .6s;
    cursor: pointer;
    transform-style: preserve-3d;
    /* when hover */
    --x-shadow: 0px;
    --y-shadow: 0px;
    box-shadow: var(--x-shadow) var(--y-shadow) 10px 3px grey;
    // box-shadow: 0px 0px 5px 4px gray;
    border:1px solid gray;

    > * {
        transform-style: preserve-3d;
    }
    /* rotation */
    --deg: 45deg;
    transform:  
    rotateX(
        calc(var(--deg) * var(--rotX,0))
    )
    rotateY(
        calc(var(--deg) * var(--rotY,0))
    );

    &__img {
        width: 100%;
        object-fit : scale-down;
        box-sizing: border-box;
        border-radius: 0.3em;
        border-bottom:1px solid lightgray;
    }
    &__content {
        /* price */
        span:first-child {
            font-size: v.$fs-400;
            color: $c-price;
        }
        /* free ship*/
        span:nth-child(2){
            display: block;
            color: $c-green;
            transition: all .5s;
        }
        span:nth-child(2):hover {
            transform: translate3D(0,0, 1rem);
        }
    }
    &__paragraph {
        font-size: v.$fs-200;
        word-wrap: break-word;
    }
}
.card::before{
    content: "";
    // border: 2px dotted pink;
    width: 10rem;
    height: 3rem;
}