.container {
    color: var(--meli-text);
    max-width: var(--max-bound);
    &__title {
        display: inline;
        font-size: var(--fs-500);
        border-radius: .4em;
        padding: 1em;
    }
    &__card {
        display: grid;
        place-content: center;
        place-items: center;
        margin: 2rem;
        perspective: 800px;
        transform-style: preserve-3d;
        perspective-origin: center center;
    
    }
}