
.banner-container{
    width: 100%;
    background-color: white; 
    border-radius: 4px;
}

.banner-title {
    background: linear-gradient(130deg,hsl(290, 68%, 46%) 55%,hsl(300, 48%, 60%) 60% ,#0c1a51);
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .2rem 1.5rem;
    color:white ; 
    .suscribite {
        align-self: center; 
        font-size: 2.2rem;
        font-weight: 600;
    }
    .offer { 
        border-left: 2px solid white;
        padding: .3rem;
        .offer-prev-price{
            font-weight: 500; 
            :first-child {
                display: block;
                font-weight: 200;
                font-size: 1rem;
                text-decoration: line-through;
            } 
        }
        .offer-year {
            font-size:.8rem;
            font-weight: 500;
            padding:2px;
            text-align: center;
            border-radius: 5px;
            background-color:green;
            display: block;
        }
    }
}

.banner-logos {
    // border:1px solid gray;
    display: inline-flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;  
    gap: 1rem;  
    font-size: 1.2rem;
    font-weight: 400; 
    padding: 3rem;
 
    .banner-logos-subtitle {
        flex:1 0 100%;
    } 
}

.banner-footer { 
    text-align: end;
}

.banner-btn {
    border:none;
    background-color: rgb(41, 129, 237);
    border-radius: 10px;
    color: white;
    padding: 1rem;
    font-size: 1.2rem; 
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: .5s; 
}
.banner-btn:hover { 
    background-color: rgb(11, 85, 150);
}