@use "../../src/global_sass/utils" as u;
@use "@gs/global";

.home {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--bg-page);
  font-size: var(--fs-200);

  &__picture {
    max-width: var(--max-bound);
    padding-inline: 1em;

    img {
      // max-width: 100%;
      width: 100%;
    }
  }
}