@use "gs/global" as g;
@use "gs/colors" as c;
@use "gs/utils" as u;

.home {
  background-color: c.$bg-page;
  margin: 0 auto;

  &__picture {
    img {
      max-width: 100%;
      // box-sizing: border-box;
      // object-fit: contain;
    }
  }
}